<div id="added-emp">
    <div class="delete_content">
        <h3 style="color:green;">Employee Added Successfully</h3>
    </div>
    <div class="delete_btn">

        <button type="button" class="btn btn-success btn-delete" id="empAddedSuccessPopup"
            onclick=" closeAddedEmployee(location.reload())">OK</button>
    </div>
</div>