<div class="cover-page-head">
    <div class="cover-page-head-title">
        <h6>Dashboard / Employees</h6>
        <h1>Employees</h1>
    </div>
    <div class="cover-page-head-search">
        <input type="search" placeholder=" Search" id="searchEmployee" name="q" onkeyup="searchEmployee()">
        <!-- &#128269; -->
        <!-- <input type="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" /> -->
        <i class="material-symbols-outlined bell">
            notifications
        </i>

        <img src="/assets/images/Elipse 5.png" alt=""/>
    </div>
</div>