<div class="dash-board">
    <div class="dash-board-title">
        <h2>Employee</h2>
        <h1>Management</h1>
    </div>

    <div class="dash-board-list">
        <ul>
            <li><a href="#">
                    <i class="material-symbols-outlined">
                        home
                    </i>
                    <p>Dashboard</p>
                </a></li>
            <li><a href="/home">
                    <i class="material-symbols-outlined">
                        bar_chart
                    </i>
                    <p>Employees</p>
                </a></li>
            <li><a href="#">
                    <i class="material-symbols-outlined">
                        person
                    </i>
                    <p>My Profile</p>
                </a></li>
            <li><a href="">
                    <i class="material-symbols-outlined">
                        lock
                    </i>
                    <p>Logout</p>
                </a></li>
        </ul>
    </div>

    <div class="dash-board-end">
        <p>Powered By</p>
        <div class="markup-img-div">
            <img src="/assets/images/image 1.png" alt=""/>
        </div>
    </div>
</div>