<div id="deleted-emp">
    <div class="delete_content">
        <h3 style="color:red;">Employee Deleted Successfully</h3>
    </div>
    <div class="delete_btn">
        <!-- <button type="button" class="btn btn-light btn-main" onclick="closeDeletedEmployee()">Cancel</button> -->
        <button type="button" class="btn btn-danger btn-delete" id="empDeleteSuccessfulPopup"
            onclick="closeDeletedEmployee()">OK</button>
    </div>
</div>