<div class="page-footer">
    <div>
        <p>© 2023 All Rights Reserved. Stackup</p>
    </div>
    <div class="footer-options">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
    </div>
</div>