<div class="pagination-main-div" onkeypress="pagination()">
    <a href="#" id="prevBtn">&#8249;</a>
    <div class="page-scroll" id="pagination">

    </div>
    <a href="#" id="nextBtn">&#8250;</a>



</div>