<table id="table">
    <thead>
        <th>
            <select name="Sl.No.">
                <option value="">Sl.No.</option>
            </select>
        </th>

        <th>
            <select name="Name">
                <option value="">Name</option>
            </select>
        </th>

        <th>
            <select name="Email">
                <option value="">Email</option>
            </select>
        </th>

        <th>
            <select name="Phone">
                <option value="">Phone</option>
            </select>
        </th>

        <th>
            <select name="Gender">
                <option value="">Gender</option>
            </select>
        </th>

        <th>
            <select name="DOB">
                <option value="">DOB</option>
            </select>
        </th>

        <th>
            <select name="Country">
                <option value="">Country</option>
            </select>
        </th>
    </thead>
    <tbody id="employeeTableBody">

        <p id="no_user">No user found on this data</p>




    </tbody>

</table>