<div class="title-table">
    <div class="table-title-div">
        <div class="table-title">
            <h2>Employee List</h2>
            <select name="number" id="list-num" class="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            
            <div id="totalEmployees">

            </div>
        </div>
    </div>
    <div class="table-title-button-div">
        <button id="addEmployeeBtn" onclick="openAddEmployeeForm()">Add Employee</button>
    </div>
</div>