*{
    font-family: 'DM Sans', sans-serif;
}
form {
    overflow-y: scroll;
    font-size: 14px;
    color: #2B3674;
}

input{
    box-shadow: none !important;
}
select{
    box-shadow: none !important;
}
.upload-image{
    height: 125px;
    border-radius: 13px;
    border: 3px dashed #B2BAD0;
    background: #FAFCFE;
}
.uploaded-image{
    height: 125px;
    border-radius: 10px;
    border: 2px dashed #B2BAD0;
}
.edit-upload-image{
    height: 140px;
    border-radius: 13px;
    border: 2px dashed #B2BAD0;
    background: #FAFCFE;
    width: 135px !important;
}
.edit-upload-image img{
    width: 100%;
    height: 100%;
}
.change-btn{
    width: 80px;
    height: 30px;
    flex-shrink: 0;
    background-color: #EAE6FB;
    border: transparent;
    border-radius: 20px;
    color: #4318FF;
    font-size: 13px;
}
.profile-pic{
    display: flex;
    align-items: center;
    gap: 10px;
}
.upload-image div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
svg{
    margin-top: 30px;
}
.upload-image div h6{
    font-weight: bold;
}
.col h3{
    display: flex;
    width: 218px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    color: #2B3674;
}
.container-fluid{
    background: #E9EDF2;
}
.cancel-btn{
    background-color: white;
    border: transparent;
    background-color: rgb(246, 244, 244);
    color: #2B3674;
}
.save-btn{
    color: white;
    background-color: #4318FF;
    border: transparent;

}
.button{
    padding: 10px;
}
.btn-area div{
    display: flex;
    justify-content: end;
}
.measure{
    border: 1px solid rgb(219, 215, 215);
}
.color-chooser{
    height: 40px;
}
input::placeholder{
    opacity: 1;
}
.required::after{
    content: '*';
    color: red;
}
.form-control:focus{
    border: 2px solid #4318FF !important;
}
.edit-employee-form .close-btn{
    position: absolute;
    right: 25px;
    top: 60px;
    width: 30px;
    height: 30px;
    background: #F4F7FE;
    color: #4318FF;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 30%;
}

::-webkit-scrollbar {
    width: 0em; 
}
::-webkit-scrollbar-thumb {
    background-color: transparent; 
}
::-webkit-scrollbar-track {
    background-color: transparent; 
}


/* @media only screen and (max-width: 1024px) {
    * {
        font-size: 11px;
    }
  } */
